<% if flash[:notice] %>
	<div align="center" class="alert alert-success alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
		<i class="icon fa fa-check"></i> <h4><%= flash[:notice]%></h4>
	</div>
<% end %>
