<div class="register-box">

  <div class="register-logo">
        <b>Cadastro de viatura</b>
  </div>

  <div class="register-box-body">

    <p class="login-box-msg">Informe os dados abaixo para cadastrar uma viatura.</p>

	<%= form_for(@vehicle) do |f| %>
		<%= render 'create_fields', f: f %>

        <div class="row">
		<%= f.submit "Inserir viatura", class: "btn btn-primary btn-block btn-flat",  data: { confirm: 'Deseja cadastrar a viatura com os dados informados?' } %>
		</div>
	<% end %>

  </div><!-- /.form-box -->
</div>